
.header{
    width: 100%;
    height: 60px;
    display: grid;
    /* align-items: center; */
    grid-template-columns: 10% 45% 45%;
    color: #4682B4;
    background-color: var(--white-color);
    box-shadow: 0 4px 10px rgba(70, 130, 180, 0.07);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.menu{
    padding: 0 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.menu__list{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__list a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #4682B4;     
}
.feature{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 24px;
}
.search{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: center;
    margin: 8px 24px;
    background-color: var(--primary---color-rgba);
    border-radius: 30px;
}
.search__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 16px;
    cursor: pointer;
}
.search__input input{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color:rgba(70, 130, 180, 0) ;
    font-size: 12px;
    color: #666666;
}
.account{
    padding: 0 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.account__func_list{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.account__func_item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.account__func_item:hover .account__func_item_info,
.account__func_item:hover .cart{
    display: block;
}
.cart{
    position: absolute;
    top: 100%;
    right: -50%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 4px rgba(70, 130, 180, 0.25);
    background-color: var(--white-color);
    min-width: 480px;
    display: none;
}
.cart__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 12px 16px;
    cursor: default;
}
.cart__header h4{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
}
.cart__header i{
    font-size: 14px;
}
.cart__list{
    height: 400px;
    overflow-y: scroll;
    padding: 0;
    list-style: none;
    padding: 12px 24px;
}
.cart__item{
    display: grid;
    grid-template-columns: 40% 56% 4%;
    min-width: 300px;
    max-height: 200px;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 16px;
    padding-bottom: 16px;
    cursor: default;
}
.cart__item_img{
    width: 150px;
    height: 150px;
}
.cart__item_img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.cart__item_info{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    justify-content: center;
}
.cart__item_info h3{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 8px 0;
}
.cart__item_info span{
    margin: 12px 0;
    font-size: 16px;
    font-weight: 400;
}
.cart__item_sub_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cart__header i,
.cart__item_sub_info i{
    cursor: pointer;
    font-size: 14px;
}
.cart__item_sub_info span{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
}
.cart__checkout{
    padding: 16px 0 24px 0;
    text-align: center;
    cursor: default;
    box-shadow: 0 -5px 5px rgba(70, 130, 180, 0.08);
}

.account__func_item_info{
    position: absolute;
    top: 100%;
    right: -50%;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 4px rgba(70, 130, 180, 0.25);
    padding: 0 16px;
    display: none;
    background-color: var(--white-color);
    z-index: 1;
}
.account__func_item_info li{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 220px;
    padding: 8px;
}
.account__func_item_info li:first-child a{
    margin-left: 0;
}
.account__func_item_info li a{
    margin-left: 16px;
}
.account__func_item_info li:hover a{
    color: var(--text-color);
}
.account__func_item_info li:nth-child(1){
    border-bottom: 1px solid var(--primary-color);
}
.account__func_item_info li:nth-child(1) i{
    margin-left: 16px;
}
.account__func_item_info li:nth-child(5){
    border-top: 1px solid var(--primary-color) ;
    padding: 16px 8px;
}

.account__func_item_info li div{
    width: 60px;
    padding-right: 24px;
}
.account__func_item_info li div img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: fill;
}
.account__func_item_info i{
    font-size: 12px;
    margin-right: 16px;
}
.account__func_item_info a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

