.main{
    margin: 70px 0 60px;
}
.product__info{
    display: grid;
    grid-template-columns: 60% 4% 36%;
    padding: 60px 160px 24px;
}
.product__img_list{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-wrap: wrap;
}
.product__img_item{
    width: 100%;
    display: flex;
    padding: 4px;
}
.product__img_item img{
    width: 100%;
    object-fit: cover;
}
.product__info_detail{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'sans-serif';
    color: var(--primary-color);
}

.product__syle,
.product__color,
.product__size{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product__syle h5,
.product__color h5,
.product__size h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin: 0 8px 0 0;
}
.product__syle span,
.product__color span{
    font-weight: 300;
}
.product__size_item{
    min-width: 50px;
    margin: 0 4px;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    outline: none;
}
.product__size_item:hover{
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}
.product__btn{
    margin: 16px 0;
}
.btn__fav{
    margin-top: 16px;
    background-color: var(--white-color);
    color: var(--primary-color );
}
.btn__fav:hover{
    background-color: var(--primary---color-rgba1);
    color: var(--white-color);
}
.product__view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 16px;
}
.product__view_info_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
}
.product__view_info_title span{
    margin-right: 8px;
}
.product__view_info_contrain{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: none; */
}
.product__view_info_contrain.active{
    display: block;
}
.product__view-info-item{

}
.product__view_info_item h5{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.main .products{
    margin-top: 60px;
}

.comment{
    padding: 24px 160px 16px 160px;
}
.comment__heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 8px 0;
    color: var(--primary-color);
}
.comment__context{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.comment__context input{
    flex: 1;
    font-size: 14px;
    padding: 8px 0;
    margin-right: 36px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}
.comment__context button{
    min-width: 100px;
    padding: 4px 0;
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
}
.comment__item{
    padding: 8px 0;
    /* border-bottom: 1px solid var(--primary-color); */
}
.comment__item_username{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 0;
}
.comment__item_time{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 4px 0;
}
.comment__item_content{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    margin: 12px 0;
}