* {
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root{
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #4682B4;
  --primary---color-rgba: rgba(70, 130, 180, 0.1);
  --primary---color-rgba1: rgba(70, 130, 180, 0.9);
  --primary---color-rgba2: rgba(70, 130, 180, 0.25);
  --primary---color-rgba3: rgba(70, 130, 180, 0.8);
  --primary---color-rgba4: rgba(70, 130, 180, 0.6);
  --white-color-rgba: rgba(255, 255, 255, 0.85);
  --text-color: #666666;
  --sub-text-color: #acacac;
}

.btn{
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  /* letter-spacing: 1px; */
  cursor: pointer;
  min-width: 360px;

}
.btn:hover{
  background-color: var(--primary---color-rgba1);
}

/* Products */
.products{
  padding: 60px 88px 100px 88px;
}
.products__wrapper{
  display: flex;
  flex-direction: column;
}
.products__category{
  display: flex;
  flex-direction: column;
}
.products__category + .products__category{
  margin-top: 50px;
}
.products__category h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 24px 0;
  color: var(--primary-color);
}
.products__list{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 16px;
}
.products__list::-webkit-scrollbar {
  height: 6px;
  border-radius: 3px;
}
.products__left::-webkit-scrollbar-track,
.products__list::-webkit-scrollbar-track {
  overflow: hidden;
  background-color: #ddd;
}
.products__list::-webkit-scrollbar-thumb {
  width: 250px;
  background-color: var(--primary-color);
}
.products__left::-webkit-scrollbar{
  width: 6px;
  padding: 32px 0;
  border-radius: 3px;
}
.products__left::-webkit-scrollbar-thumb{
  height: 250px;
  background-color: var(--primary-color);
}

.products__item + .products__item{
  margin-left: 48px;
}
.products__img{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
}
.products__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__item h3{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-color);
  cursor: pointer;
}
.products__item span{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-color);
}
